a {
    color: var(--sc);
}

.horizontal-flex-container a {
    height: 3.2em;
    width: 12em;
}

#anchor-display {
    margin: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#anchor-display {
    h3 {
        margin: 0;
        margin-left: 5em;
    }
}

.anchor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
        margin: 0.5em;
    }
}