button {
    @include stdBorder;

    @media (max-width: $mobile) {
        font-size: 0.7em;
        width: 10em;
        margin: 0.2em;
        margin-top: 1em;
    }

    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    width: 13em;
    color: color(accent);
    background-color: color(secondary);
    
    &:hover {
        transform: scale(1.05);
        transition: transform 0.25s;
        color: color(secondary);
        background-color: color(accent);
    }

    &.red {
        border-color: color(primary);
        background-color: color(secondary);
        color: color(accent);
    
        &:hover {
            font-weight: 650;
            background-color: color(primary);
            color: color(secondary);
        }
    }
}

.button-selected {
    @extend button;
    color: color(secondary);
    background-color: color(accent);

    &:hover {
        color: color(accent);
        background-color: color(secondary);
    }
}
