button {
    @include standardBorder;
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    width: 13em;
    color: color(accent);
    background-color: color(secondary);

    &:hover {
        color: color(secondary);
        background-color: color(accent);
    }
}

.button-selected {
    @extend button;
    color: color(secondary);
    background-color: color(accent);

    &:hover {
        color: color(accent);
        background-color: color(secondary);
    }
}

button.red {
    border-color: color(primary);
    background-color: color(secondary);
    color: color(accent);

    &:hover {
        background-color: color(primary);
        color: color(secondary);
    }
}