#dropdown-container {
    @include genericFlexBox;

    img {
        @include standardBorder;
        cursor: pointer;
        margin-top: 1em;
        border-radius: 0.6em;
        padding: 0.1em;
        height: 7em;
        width: 26em;
    }
}
