.headset-info-container {
    margin-left: 10%;
    margin-bottom: 2%;
    display: flex;

    * {
        margin-left: 5%;
    }

    video {
        @include standardBorder;
        width: 50em;
    }

    h1 {
        margin: 2%;
    }
}