.headset-info-container {
    @media (max-width: $mobile) {
        flex-direction: row;
    }

    @include flexBox($d: column, $j: center);

    * {
        @media (max-width: $mobile) {
            margin-left: 0;
        }

        @media (min-width: $notMobile) {
            @media (max-width: 1024px) {
                margin-left: 0.4%;
            }

            @media (min-width: 1025px) {
                margin-left: 5%;
            }
        }
    }

    #{&}__secondary {
        @media (max-width: $mobile) {
            flex-direction: column;
        }

        display: flex;
    }

    video {
        @include stdVideo;
    }

    h2 {
        margin: 2%;
        margin-top: 16%;
    }
}