.headset-info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    * {
        @media (max-width: 1024px) {
            margin-left: 0.4%;
        }
        @media (min-width: 1025px) {
            margin-left: 5%;
        }
    }

    video {
        @include standardBorder;
        width: 50em;
    }

    h1 {
        margin: 2%;
    }
}