/*Mobile View*/
table {
    @media (max-width: $mobile) {
        font-size: 8px
    }
    word-wrap: break-word;

    * {
        @media (max-width: $mobile) {
            width: 0.1em;
            border: 1px solid color(accent);
        }

        width: 10em;
        height: 2em;
        text-align: center;
        border: 2px solid color(accent);
    }

    th {
        background-color: color(accent);
        color: color(secondary);
    }

    tr {
        background-color: color(secondary);
        color: color(accent);

        &.active {
            cursor: pointer;
        }
    }

    .img-container {
        @media (max-width: $mobile) {
            visibility: hidden;
            width: 0;
        }
        width: 8em;
    }

    img {
        @media (max-width: $mobile) {
            visibility: hidden;
            width: 0;
        }
        border: 0;
        width: 8em;
    }
}

.table-container {
    @include flexBox($j: center, $a: center);
}