table {
    * {
        width: 10em;
        height: 2em;
        text-align: center;
        border: 2px solid color(accent);
    }

    th {
        background-color: color(accent);
        color: color(secondary);
    }

    tr {
        background-color: color(secondary);
        color: color(accent);

        &.active {
            cursor: pointer;
        }
    }

    .img-container {
        width: 8em;
    }

    img {
        border: 0;
        width: 8em;
    }
}

.table-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}