$colors: (
    "primary": rgba(255, 80, 80, 1),
    "accent": rgba(255, 255, 255, 1),
    "secondary": rgba(40, 40, 40, 1),
);

@function color($name) {
    @return map-get($colors, $name);
}

$gradients: (
    "tr-bl": linear-gradient(165deg, rgba(255, 20, 20, 1), rgba(255, 80, 80, 1)),
    "bl-tr": linear-gradient(-15deg, rgba(255, 20, 20, 1), rgba(255, 80, 80, 1)),
);

@function gradient($name) {
    @return map-get($gradients, $name);
}

@mixin genericFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin flexBox($d/*irection*/: row, $j/*ustification*/: space-around, $a/*lignment*/: unset) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
}

@mixin standardImage {
    margin-bottom: 0.2em;
    border: 2px solid color(accent);
    border-radius: 0.5em;
    padding: 0;
    height: 3.2em;
    width: 12em;
}

@mixin standardBorder {
    border: 2px solid color(accent);
    border-radius: 1em;
}

$mobile: 800px;
$notMobile: $mobile + 1px;