#vergelijking-table {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    div {
        h3 {
            margin: 0;
            border: 1px solid color(accent);
            padding: 0.5em;
        }
    }

    img {
        @include standardImage;
    }
}

#vergelijking-table-headers {
    align-self: flex-end;
    text-align: right;
}

.vergelijking-table-column {
    * {
    cursor: pointer;
    width: 10em;
    }
}

