@import './scss-components/variables';
@import './scss-components/text';
@import './scss-components/header-footer';
@import './scss-components/buttons';
@import './scss-components/dropDownMenu';
@import './scss-components/anchors';
@import './scss-components/tables';
@import './scss-components/headsets';
@import './scss-components/recensies';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: color(accent);
    background-color: color(secondary);
}

/* Misc CSS */
.horizontal-flex-container {
    @include genericFlexBox;
}

#change-volgorde {
    cursor: pointer;
    margin-left: 10em;
}

hr.red {
    color: color(primary);
}

#vergelijking-imgs {
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;

    img {
        @include standardImage;
        cursor: pointer;
    }
}

.pinned-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.central {
    display: flex;
    justify-content: center;
}