:root {
    /* primaire kleur */
    --pc: rgba(255, 50, 50, 1);
    /* secundaire kleur */
    --sc: rgba(255, 255, 255, 1);
    /* achtergrond kleur */
    --bgc: rgba(30, 30, 30, 1);
}

/* Algemene CSS */
html {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-behavior: smooth;
    background-color: rgba(50, 50, 50, 1);
}

body {
    margin: 0;
    width: 1024px;
    color: var(--sc);
    background-color: var(--bgc);
}

/* Tekst en afbeelding gerelateerde CSS */
.text-container {
    margin: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

.par-text div p {
    width: 30em;
    text-align: justify;
}

.text-container img {
    border: 2px solid var(--sc);
    border-radius: 1em;
    max-height: 15em;
    max-width: 20em;
}

.text-container h2 {
    margin-left: 3em;
}

.par-text {
    display: flex;
}

.par-text img {
    margin-left: 2em;
    width: 30em;
}

/* Header/Footer CSS */
#header {
    top: 0;
    background-color: var(--bgc);
}

#title, #footer {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#title {
    background-image: linear-gradient(135deg, rgba(255, 20, 20, 1), rgba(255, 80, 80, 1));
}

#footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(-45deg, rgba(255, 20, 20, 1), rgba(255, 80, 80, 1));
}

#footer h2 {
    margin: 0;
}

/* Knop gerelateerde CSS */
button {
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 13em;
    background-color: var(--bgc);
    color: var(--sc);
}
    button:hover {
        color: var(--bgc);
        background-color: var(--sc);
    }

.button-selected {
    cursor: pointer;
    color: var(--bgc);
    background-color: var(--sc);
}
    .button-selected:hover {
        color: var(--sc);
        background-color: var(--bgc);
    }

/* Headset drop-down menu gerelateerde CSS (HeadsetDropDown component) */
#headsets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#headsets-container img {
    margin: 2em;
    border: 1px solid var(--sc);
    border-radius: 1em;
    padding: 0.1em;
    height: 7em;
    width: 26em;
    background-color: var(--bgc);
    cursor: pointer;
}

/* flex-box table (Vergelijking component) */
#vergelijking-table {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#vergelijking-table div h3 {
    margin: 0;
    border: 1px solid var(--sc);
    padding: 0.5em;
}

#vergelijking-table div img, #vergelijking-imgs img {
    margin-bottom: 0.2em;
    border: 2px solid var(--sc);
    border-radius: 0.5em;
    padding: 0;
    height: 4em;
    width: 12em;
}

.vergelijking-table-column * {
    cursor: pointer;
    width: 10em;
}

#vergelijking-table-headers {
    align-self: flex-end;
    text-align: right;
}

#vergelijking-imgs {
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
}

#vergelijking-imgs img {
    cursor: pointer;
    width: 12em;
    flex-direction: column;
}

/* Anchor gerelateerde CSS */
a {
    color: var(--sc);
}

#anchor-display {
    margin: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#anchor-display h3 {
    margin: 0;
    margin-left: 5em;
}

.anchor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.anchor-container a {
    margin: 0.5em;
}

/* Misc CSS */
.horizontal-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#change-volgorde {
    cursor: pointer;
    margin-left: 10em;
}

hr.red {
    color: var(--pc);
}